.row
  .small-12.column
    %h2.name= "#{@project.title} TASKS TO COMPLETE"
    .small-3.column
    .small-9.column.small_top_padding  
      - unless @tasks.nil?
        %ul.task
        - @tasks.each do |task|
          %li.task
            = link_to task.title, toggle_completed_task_path(task), remote: true

  .small-12.column.big_top_padding
    .small-6.column
      %h4= link_to 'NEW TASK', new_project_task_path(params[:project_id])
    .small-6.column
      %h4= link_to 'BACK TO PROJECTS', user_projects_path(current_user.id)

//javascript/ajax stuff:
//toggle task line from not complete to complete
//on click, trigger complete
//add strikthrough on text
//add star icon (change css class)
