.row
  .small-12.column
    %h3.name= "NEW TASK FOR #{@project.title.upcase}" 
    = simple_form_for @task,
      :url => url_for(:action => 'create', :controller => 'tasks'),
      :method => 'post' do |f|
      = f.input :title, :required => true
      = f.input :note, as: :text
      = f.hidden_field :project_id, :value => @project.id

      = f.button :submit, 'I will do this (eventually)!', :class => "round small button"
