.row
  .small-12.column
    %h3.name BUSINESS TO TAKE CARE OF
    = simple_form_for @project,
      :url => url_for(:action => 'create', :controller => 'projects'),
      :method => 'post' do |f|
      = f.input :title, :required => true
      = f.input :note, as: :text
      = f.hidden_field :user_id, :value => @user.user_id

      = f.button :submit, 'Lets do this!', :class => "round small button"